<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5>Esqueci minha senha</h5>
                </div>
                <div class="card-body">
                    <form (submit)="onSubmit()">
                        <div class="form-group">
                            <label>Insira seu e-mail para receber instruções</label>
                            <input type="text" class="form-control" placeholder="example@gmail.com" 
                            id="e-mail" [(ngModel)]="email" name="email" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>