/* scheduler.component.scss */
.container-fluid {
    padding: 0 15%;  /* Adicionado padding para criar algum espaço nas laterais */
}

/* Remova as regras abaixo se não forem necessárias para outros elementos */
/*.btn {
    margin-bottom: 1%;
    margin: 0 auto;
    display: block;
}

.btn-primary,
.btn-success {
    float: none;
    display: inline-block;
}*/
