<div class="container mt-5">
    <h2>Cadastrar Cliente</h2>
    <form (submit)="onSubmit()">
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control mb-2" id="name" [(ngModel)]="customer.name" name="name" required>

            <label for="cpfCnpj">CPF/CNPJ</label>
            <input type="text" class="form-control mb-2" id="cpfCnpj" [(ngModel)]="customer.cpfCnpj" name="cpfCnpj" required>

            <label for="cellphone">Celular</label>
            <input type="text" class="form-control mb-2" id="cellphone" [(ngModel)]="customer.cellphone" name="cellphone" required>

            <div class="row">
                <div class="col-md-6 mb-2">
                    <label for="street">Rua</label>
                    <input type="text" class="form-control" id="street" [(ngModel)]="customer.address.street" name="street" required>
                </div>
                <div class="col-md-2 mb-2">
                    <label for="number">Número</label>
                    <input type="text" class="form-control" id="number" [(ngModel)]="customer.address.number" name="number" required>
                </div>
                <div class="col-md-4 mb-2">
                    <label for="complement">Complemento</label>
                    <input type="text" class="form-control" id="complement" [(ngModel)]="customer.address.complement" name="complement">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-2">
                    <label for="neighborhood">Bairro</label>
                    <input type="text" class="form-control" id="neighborhood" [(ngModel)]="customer.address.neighborhood" name="neighborhood" required>
                </div>
                <div class="col-md-4 mb-2">
                    <label for="city">Cidade</label>
                    <input type="text" class="form-control" id="city" [(ngModel)]="customer.address.city" name="city" required>
                </div>
                <div class="col-md-4 mb-2">
                    <label for="state">Estado</label>
                    <input type="text" class="form-control" id="state" [(ngModel)]="customer.address.state" name="state" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-2">
                    <label for="postalCode">CEP</label>
                    <input type="text" class="form-control" id="postalCode" [(ngModel)]="customer.address.postalCode" name="postalCode" required>
                </div>
            </div>
        <button routerLink="/home" type="button" class="btn btn-secondary mr-2">Voltar</button>
        <button type="submit" class="btn btn-success">Salvar</button>
        </div>
    </form>
</div>
